*.iml
.gradle
local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
*.exec
repo/
build/
*/out/*/classes/*
plugin/src/test/test-fixtures/multi-module/gradle.properties
plugin/src/test/test-fixtures/multi-module/build.gradle
plugin/src/test/test-fixtures/multi-module/app/build.gradle
.kotlin/
