name: Build

on: [push, pull_request]

jobs:
  build:
    timeout-minutes: 40
    runs-on: macOS-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 28
          script: ./gradlew clean test --stacktrace